@use '../config/font-style' as *;
@use '../config/color' as *;

.sharedLayout {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px);

  .header {
    flex: 0 0 6vh; // Header 높이
  }
  .list {
    flex: 1; // List 높이: 나머지 공간 차지
    overflow-y: auto;
  }
  .footer {
    flex: 0 0 10vh; // Footer 높이
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
}

// 채팅방
.room-container {
  background-color: $main-blue-100;
}

.room-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.6rem;
}

.previous,
.leave {
  width: 1.6rem;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 1.2rem;
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 0.6rem;
}

.friend-name {
  font-family: $nanum-bold;
  font-size: 1.2rem;
  width: 14rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
