$main-blue-100: #f4f7fc;
$main-blue-200: #dfe7f2;
$main-blue-300: #c2d2e9;
$main-blue-400: #5e83ba;
$main-blue-500: #3a4e7a;
$main-blue-600: #091d36;

$main-white-100: #ffffff;
$main-white-300: #f1f1f0;

$main-gray: #c0c2c4;
$main-gray-200: #b3b3b3;

$main-bluegray: #e4e5ea;

$main-pink-200: #e87272;

$main-black: #000000;
